.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 0.8rem;
  width: 100vw;
  box-shadow: 0 -3px 5px black;
  padding: 1% 0;
  height: 70px;
}

.icon {
  text-align: center;
  min-width: 48px;
  flex-direction: column;
  margin-left: 3%;
}

.active {
  color: #ed8770;
}
