:root {
  --primary-color: #181b2c;
  --secondary-color: #181b2c;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--primary-color);
  color: #fff;
}

body {
  font-family: "Circular Std Book", sans-serif;
  margin: 0;
  font-weight: 700;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Circular Std Medium", sans-serif;
}
