.play-btn {
  border-radius: 15px;
  color: white;
  background: transparent linear-gradient(180deg, #ed8770 0%, #d9519d 100%) 0%
    0% no-repeat padding-box;
  border: none;
  padding: 9px 30px;
}

.text {
  color: #fff;
  font-size: 0.688rem;
  margin: 10px;
  text-align: left;
  letter-spacing: 0.16px;
}
